<h1>Form trying to send data</h1>

<a href="index.erb"> Goes back to index </a>
<p>   <br />  </p>
<a href="newpage.erb"> New Page </a>

<br />

<form method="post" action="">
   <LABEL>Title: </LABEL>
        <INPUT type="text" id="title"><BR>
    <LABEL>Post: </LABEL>
         <INPUT type="text" id="body"><BR>

<input type="submit" value="Create Post" />
</form>